body{
    background-color: #e8be6c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    
}
img{
    opacity: 60%;
    max-width: 1400px;
    text-align: center;
}


header{
    margin-top: auto;
    max-width: 1400px;
    background-color: #c47a42;
    text-align: center;
    text-shadow:#8e5326;
}
img{
    max-width:100%;
    image-orientation: flip;
    text-align: center;
    margin-top: 12px;
    padding-bottom: 15%;
    stroke-width: 80%;
}

main{
    margin-top: auto;
    max-width: 1200px;
    max-height: 170px;
    background-color: #c47a42;
    font-weight: 160;
    text-align: end;
}
footer{
    margin-top: auto;
    max-width: 1600px;
    background-color: #c47a42;
    background-position: 50%;
    font-size: larger;
    font-weight: 120;
    
}
h4{
    margin-top: auto;
    max-width: 1200px;
    background-color: #c47a42;
    ba
    font-size: larger;
    font-weight: 100;
    text-align: end;
    
}
footer{ margin-top: auto;
    max-width: 1600px;
    background-color: #c47a42;
    background-position: 50%;
    font-size: larger;
    font-weight: 120;
    }
    H3{
        font-size: larger;
        font-weight: 700;
        
    }
    H4{
        font-size: larger;
        font-size: x-large;
        font-weight: 900;
    }
    H5{
        font-size: larger;
        font-weight: 800;
    }
    H6{
        font-size: x-large;
        font-weight: 800;
    }
    H7{
        font-size: larger;
        font-weight: 800;
    }
    P{
        max-width: 699PX;
        max-height: 100px;
        font-size: large;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }